*{margin:0;padding: 0}
ul>li,ol>li{list-style: none;}
.img-box{width: 100vw;height: 100vh;position: relative;overflow: hidden;}
.img-box li,
.img-box img{width: 100%;height: 100%;}
.img-box ul{position: relative;width: 100%;height: 100%;}
.img-box ul li{position: absolute;left: 0;top: 0;z-index: 1}
.iomg-box ul,.iomg-box ul li,
.iomg-box ul img,.img-box ol>li img{width: 100%;height: 100%}
.img-box .slider-ctrl{position: absolute;bottom: 20px;z-index: 6;width: 100%;height: 100px;padding: 0 6%}
.img-box .slider-ctrl label{width: 16%;float: left;height: 100%;margin-right: 2%;position: relative;cursor: pointer;}
.img-box .slider-ctrl label:last-child{margin-right: 0}
.img-box .slider-ctrl label::after { content: '';width: 100%;height: 100%;position: absolute;top:0;right: 0;background-color: rgba(0,0,0,0.5)}
/**************** 底部当前项样式 ****************/
.img-box input:nth-of-type(1):checked ~.slider-ctrl label:nth-of-type(1)::after,
.img-box input:nth-of-type(2):checked ~.slider-ctrl label:nth-of-type(2)::after,
.img-box input:nth-of-type(3):checked ~.slider-ctrl label:nth-of-type(3)::after,
.img-box input:nth-of-type(4):checked ~.slider-ctrl label:nth-of-type(4)::after,
.img-box input:nth-of-type(5):checked ~.slider-ctrl label:nth-of-type(5)::after,
.img-box .slider-ctrl label:hover::after{display: none;}
input {display: none;}
/****************动画 ****************/
.img-box input:nth-of-type(1):checked ~ ul li:nth-child(1){
     animation:animation1 0.5s ease-out;
     z-index: 2;
 }
 .img-box input:nth-of-type(2):checked ~ ul li:nth-child(2){
     animation:animation2 0.5s ease-out;
     z-index: 2;
 }
 .img-box input:nth-of-type(3):checked ~ ul li:nth-child(3){
     animation:animation3 0.5s ease-in;
     z-index: 2;
 }
.img-box input:nth-of-type(4):checked ~ ul li:nth-child(4){
     animation:animation4 0.5s ease-in;
     z-index: 2;
 }
 .img-box input:nth-of-type(5):checked ~ ul li:nth-child(5){
     animation:animation5 0.5s ease-in-out;
     z-index: 2;
 }
@keyframes animation1{
    0%{
        left: -500px
    }
    100%{
       left: 0px
    }
}
@keyframes animation2{
    0%{
        top: 350px
    }
    100%{
       top: 0px
    }
}
@keyframes animation3{
    0%{
        -webkit-transform: scale(0.1);
   -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
     -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    100%{
  -webkit-transform: scale(1);
   -moz-transform: scale(1);
    -ms-transform: scale(1);
     -o-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes animation4{
    0%{
        -webkit-transform: scale(2.0);
   -moz-transform: scale(2.0);
    -ms-transform: scale(2.0);
     -o-transform: scale(2.0);
        transform: scale(2.0);
    }
    100%{
  -webkit-transform: scale(1);
   -moz-transform: scale(1);
    -ms-transform: scale(1);
     -o-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes animation5{
    0%{
        -webkit-transform: scale(0.1) rotate(360deg);
   -moz-transform: scale(0.1) rotate(360deg);
    -ms-transform: scale(0.1) rotate(360deg);
     -o-transform: scale(0.1) rotate(360deg);
        transform: scale(0.1) rotate(360deg);
    }
    100%{
  -webkit-transform: scale(1)  rotate(0deg);
   -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
     -o-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }
}



