  .box{
    width: 80%;
    margin: 80px auto;
    clear:both;
     }
.box div{
    width: 54px;
    height: 64px;
    line-height:64px;
    text-align:center;
    background-color: #f7f6f6;
    color: #000;
    font-size: 9px;
    border: 2px solid #ebebeb;
    float: left;
    margin-right: 25px;
}
.box .box1{
    -webkit-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    transform: skewX(30deg);
}
.box .box2{
    -webkit-transform: scale(0.5,1);
       -moz-transform: scale(0.5,1);
       -ms-transform: scale(0.5,1);
         -o-transform: scale(0.5,1);
            transform: scale(0.5,1);
}
.box .box3{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
         transform: rotate(45deg);
}
 .box .box4{
    -webkit-transform:translate(10px,20px) ;
    -moz-transform:translate(10px,20px) ;
     -ms-transform:translate(10px,20px) ;
      -o-transform:translate(10px,20px) ;
         transform:translate(10px,20px) ;
 }
 .box .box5{
    -webkit-transform: skewX(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
       -moz-transform: skewX(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
        -ms-transform: skewX(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
         -o-transform: skewX(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
            transform: skewX(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
 }